form.form(method="post")
    .form__group
        label.form__label(for="email-1") Email address
        input.form__input(type="email", id="email-1", placeholder="Enter your email address" autocomplete="username")

    .form__group
        label.form__label(for="password-1") Password
        .form__input-wrap
            input.form__input(type="password", id="password-1", placeholder="Enter your password" autocomplete="current-password")
            .show-icon-wrap.js-show-icon
                svg.show-icon(width="20" height="20")
                    use(xlink:href="#eye-icon")
                svg.show-icon.show-icon--line(width="20" height="20")
                    use(xlink:href="#line-icon")
        a.form__link(href="#!") Forgot Password?

    .form__text  Don't have an account? <a class="form__link" href="#!">Sign Up</a>
    button.form__submit.btn.btn--blue(type="submit") log in
