footer.footer
    .box
        .footer__row
            .footer__head
                .footer__head-wrap
                    include ../logo/logo.pug

            .footer__content
                .footer__col
                    h4.footer__list-title Info
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") About Us

                .footer__col
                    h4.footer__list-title legal
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") Terms of Use
                        li.footer__list-item
                            a.footer__list-link(href="#!") Privacy Policy

                .footer__col
                    h4.footer__list-title Support
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") FAQ
                        li.footer__list-item
                            a.footer__list-link(href="#!") Help Center

        .footer__bottom
            //- .footer__date 2021-06-30 09:45:56 UTC +00
            .footer__copy Copyright &copy; 2222. All Rights Reserved
