section.features
    ul.features__list
        li.features__item
            img.features__icon(src="./img/icons/wallet-icon.svg", alt="")
            h2.features__title <span class="highlight-text">Multicurrency</span> Wallet
            p.features__descr Keep your coins, tokens, fiat all in one wallet
        li.features__item
            img.features__icon(src="./img/icons/swap-icon.svg", alt="")
            h2.features__title Instant <span class="highlight-text">Swap</span>
            p.features__descr Exchange any currency instantly at the best price
        li.features__item
            img.features__icon(src="./img/icons/dex-icon.svg", alt="")
            h2.features__title Built on <span class="highlight-text">DEX</span>
            p.features__descr Take full advantage of the Stellar Blockchain
        li.features__item
            img.features__icon(src="./img/icons/build-icon.svg", alt="")
            h2.features__title <span class="highlight-text">EU</span> License
            p.features__descr Regulated under EU jurisdiction
