section.about#section2.panel
    .about__us
        .about__header.border-animate
            .about__header-inner.box
                .about__header-title О ПРОЕКТЕ
        .about__hero.border-animate
            .about__hero-title.box Zefir разрабатывает и предлагает к использованию продукты, которые позволяют сохранить и преумножить капитал
            .about__hero-subtitle.about-descr.box Ежедневно количество людей, рассматривающих инвестиции как дополнительный или основной доход , стремительно растет. Компания ZEFIR предлагает возможность использования уникальных продуктов, которые помогают сохранять и приумножать капитал клиентов ZEFIR. Благодаря нашим решениям, любой человек, даже не имеющий опыта в сфере инвестирования сможет добиться поставленых целей
    .about__bot.box11

        .about__slide
            .about__slide-top-wrap
                .about__slide-top.box
                    .about__slide-title-wrap
                        .about__slide-title
                            p.gsap zefir
                        .about__slide-title
                            p.gsap CENT BOT
                    .about__slide-logo
                        img(src="./img/elem.jpg", alt="")
            .about__slide-top-wrap
                .about__slide-middle.box
                    .about__slide-info.gsap
                        .about__slide-text.about-descr Tорговый робот, работающий на центовых счетах, совершающий операции по инструменту EUR/USD. Уникальный торговый алгоритм, работающий по принципу пропорционального копирования, позволяет каждому клиенту Zefir держать процесс инвестирования под контролем. Благодаря этому обеспечивается полная прозрачность процесса
                        ul.about__slide-list
                            li.about__slide-item Ожидаемая доходность от 8-12% в месяц
                    .about__slide-coast
                        .about__slide-coast-inner
                            p ДЕПОЗИТ
                            p ОТ 100$ ДО 200$
                            .progress-circle
                                svg(width="220" height="220")
                                    circle.track-big(cx="110" cy="110" r="100")
                                    circle.progress-big-about(cx="110" cy="110" r="100")
                                    circle.track-small(cx="110" cy="110" r="90")
                                    circle.progress-small-about(cx="110" cy="110" r="90")
            .about__slide-top-wrap
                .about__slide-bottom.box
                    ol.preview__list
                        li.preview__item ZEFIR OIL BOT
                        li.preview__item.d-none ZEFIR OIL BOT
                        li.preview__item.d-none ZEFIR OIL BOT
                    .about__slide-nav
                        .about__slide-arrow.arrow-prev.arrow-prev--first
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646442 3.64645C0.45118 3.84171 0.45118 4.15829 0.646442 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646442 3.64645ZM61 3.5L0.999996 3.5V4.5L61 4.5V3.5Z"/>
                            </svg>

                        .about__slide-arrow.arrow-next
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659728 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM0 4.5H60V3.5H0V4.5Z"/>
                            </svg>

        .about__slide.d-none
            .about__slide-top-wrap
                .about__slide-top.box
                    .about__slide-title-wrap
                        .about__slide-title
                            p.gsap zefir
                        .about__slide-title
                            p.gsap oil BOT
                    .about__slide-logo
                        img(src="./img/elem2.jpg", alt="")
            .about__slide-top-wrap
                .about__slide-middle.box
                    .about__slide-info.gsap
                        .about__slide-text.about-descr Торговый робот, разработанный компанией ZEFIR. Извлекает прибыль благодаря торговле по паре EUR/USD. Уникальный торговый алгоритм и система контроля за рисками позволяют получать 8-15% в месяц. Работает по принципу пропорционального копирования, дает возможность каждому клиенту ZEFIR держать процесс инвестирования под контролем.  Депозит от 500 USD
                        ul.about__slide-list
                            li.about__slide-item Ожидаемая доходность от 10-15% в месяц
                    .about__slide-coast
                        .about__slide-coast-inner
                            p ДЕПОЗИТ
                            p ОТ 500$
                            .progress-circle
                                svg(width="220" height="220")
                                    circle.track-big(cx="110" cy="110" r="100")
                                    circle.progress-big-about(cx="110" cy="110" r="100")
                                    circle.track-small(cx="110" cy="110" r="90")
                                    circle.progress-small-about(cx="110" cy="110" r="90")
            .about__slide-top-wrap
                .about__slide-bottom.box
                    ol.preview__list
                        li.preview__item.d-none ZEFIR OIL BOT
                        li.preview__item ZEFIR trust investments
                        li.preview__item.d-none ZEFIR OIL BOT
                    .about__slide-nav
                        .about__slide-arrow.arrow-prev
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646442 3.64645C0.45118 3.84171 0.45118 4.15829 0.646442 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646442 3.64645ZM61 3.5L0.999996 3.5V4.5L61 4.5V3.5Z"/>
                            </svg>

                        .about__slide-arrow.arrow-next
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659728 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM0 4.5H60V3.5H0V4.5Z"/>
                            </svg>

        .about__slide.d-none
            .about__slide-top-wrap
                .about__slide-top.box
                    .about__slide-title-wrap
                        .about__slide-title
                            p.gsap zefir
                        .about__slide-title
                            p.gsap CENT BOT
                    .about__slide-logo
                        img(src="./img/elem3.jpg", alt="")
            .about__slide-top-wrap
                .about__slide-middle.box
                    .about__slide-info.gsap
                        .about__slide-text.about-descr Tорговый робот, работающий на центовых счетах, совершающий операции по инструменту EUR/USD. Уникальный торговый алгоритм, работающий по принципу пропорционального копирования, позволяет каждому клиенту Zefir держать процесс инвестирования под контролем. Благодаря этому обеспечивается полная прозрачность процесса
                        ul.about__slide-list
                            li.about__slide-item Ожидаемая доходность от 8-12% в месяц
                    .about__slide-coast
                        .about__slide-coast-inner
                            p ДЕПОЗИТ
                            p ОТ 100$ ДО 200$
                            .progress-circle
                                svg(width="220" height="220")
                                    circle.track-big(cx="110" cy="110" r="100")
                                    circle.progress-big-about(cx="110" cy="110" r="100")
                                    circle.track-small(cx="110" cy="110" r="90")
                                    circle.progress-small-about(cx="110" cy="110" r="90")
            .about__slide-top-wrap
                .about__slide-bottom.box
                    ol.preview__list
                        li.preview__item.d-none ZEFIR OIL BOT
                        li.preview__item.d-none ZEFIR OIL BOT
                        li.preview__item ZEFIR OIL BOT
                    .about__slide-nav
                        .about__slide-arrow.arrow-prev
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.646442 3.64645C0.45118 3.84171 0.45118 4.15829 0.646442 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646442 3.64645ZM61 3.5L0.999996 3.5V4.5L61 4.5V3.5Z"/>
                            </svg>

                        .about__slide-arrow.arrow-next.arrow-next--last
                            <svg width="61" height="8" viewBox="0 0 61 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659728 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM0 4.5H60V3.5H0V4.5Z"/>
                            </svg>

