section.benefits
    //- .box
    .benefits__inner
        .benefits__title-wrap
            .box
                .benefits__title почему мы
        .benefits__slider.box

            .swiper
                .swiper-wrapper
                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider1.svg", alt="")
                            .benefits__slider-text Возможность страхования депозитов

                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider2.svg", alt="")
                            .benefits__slider-text Полная прозрачность процесса с доступом к депозиту в любое время

                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider3.svg", alt="")
                            .benefits__slider-text Лучший план вознаграждений за рекомендации продуктов Zefir

                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider1.svg", alt="")
                            .benefits__slider-text Lorem ipsum dolor sit amet.

                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider2.svg", alt="")
                            .benefits__slider-text Lorem ipsum dolor sit amet consectetur adipisicing elit.

                    .swiper-slide
                        .benefits__slider-item
                            .benefits__slider-picture
                                img.benefits__slider-img(src="./img/slider3.svg", alt="")
                            .benefits__slider-text Возможность страхования депозитов

