.article-list
    article.article
        a.article__picture-link(href="#!")
            .article__picture
                picture
                    source(type="image/webp" media="(min-width: 1200px)" srcset="./img/hero-desktop.webp, ./img/hero-desktop@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/hero-tablet.webp, ./img/hero-tablet@2x.webp 2x")
                    source(type="image/webp" srcset="./img/hero-mobile.webp, ./img/hero-mobile@2x.webp 2x")
                    source(media="(min-width: 1200px)" srcset="./img/hero-desktop.jpg, ./img/hero-desktop@2x.jpg 2x")
                    source(media="(min-width: 768px)" srcset="./img/hero-tablet.jpg, ./img/hero-tablet@2x.jpg 2x")
                    img.article__img(src="./img/hero-mobile.jpg" srcset="./img/hero-mobile@2x.jpg 2x" alt="hero" width="300" height="154")

        .article__date Aug 2, 2020
        h3.article__title Augur (REP) Version 2 Upgrade
        .article__descr
            p Augur upgraded to the second version of its prediction market software on July 28th

        a.article__link(href="#!") Read more
            svg.article__link-icon(width="20" height="12")
                use(xlink:href="#arrow-right-icon")

    article.article
        a.article__picture-link(href="#!")
            .article__picture
                picture
                    source(type="image/webp" media="(min-width: 1200px)" srcset="./img/hero-desktop.webp, ./img/hero-desktop@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/hero-tablet.webp, ./img/hero-tablet@2x.webp 2x")
                    source(type="image/webp" srcset="./img/hero-mobile.webp, ./img/hero-mobile@2x.webp 2x")
                    source(media="(min-width: 1200px)" srcset="./img/hero-desktop.jpg, ./img/hero-desktop@2x.jpg 2x")
                    source(media="(min-width: 768px)" srcset="./img/hero-tablet.jpg, ./img/hero-tablet@2x.jpg 2x")
                    img.article__img(src="./img/hero-mobile.jpg" srcset="./img/hero-mobile@2x.jpg 2x" alt="hero" width="300" height="154")
        .article__date Jul 24, 2020
        h3.article__title Filecoin [IOU] is now available for trading
        .article__descr
            p We’re excited to announce support for trading Filecoin [IOU] (XFIL) on Strade!

        a.article__link(href="#!") Read more
            svg.article__link-icon(width="20" height="12")
                use(xlink:href="#arrow-right-icon")

    article.article
        a.article__picture-link(href="#!")
            .article__picture
                picture
                    source(type="image/webp" media="(min-width: 1200px)" srcset="./img/hero-desktop.webp, ./img/hero-desktop@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 768px)" srcset="./img/hero-tablet.webp, ./img/hero-tablet@2x.webp 2x")
                    source(type="image/webp" srcset="./img/hero-mobile.webp, ./img/hero-mobile@2x.webp 2x")
                    source(media="(min-width: 1200px)" srcset="./img/hero-desktop.png, ./img/hero-desktop@2x.png 2x")
                    source(media="(min-width: 768px)" srcset="./img/hero-tablet.png, ./img/hero-tablet@2x.png 2x")
                    img.article__img(src="./img/hero-mobile.png" srcset="./img/hero-mobile@2x.png 2x" alt="hero" width="300" height="154")
        .article__date May 5, 2020
        h3.article__title Matic (MATIC) is now available on Strade
        .article__descr
            p We’re excited to welcome Matic (MATIC) to Strade! You can now deposit MATIC and trade

        a.article__link(href="#!") Read more
            svg.article__link-icon(width="20" height="12")
                use(xlink:href="#arrow-right-icon")
