nav.header__menu.menu
    ul.menu__list
        //- li.menu__item
        //-     a.menu__link(href="/wallet.html") WALLET
        //- li.menu__item
        //-     a.menu__link(href="#section-2") EXCHANGE
        //- li.menu__item
        //-     a.menu__link(href="./swap.html") SWAP
        //- li.menu__item
        //-     a.menu__link(href="./buy-crypto.html") BUY CRYPTO

        li.menu__item
            a.menu__link(href="#section-6" data-modal="modal-1") Log in
    a.menu__btn.menu__btn--mobile-only.btn.btn--green.js-modal-open(href="#!" data-modal="modal-1") Create Account
a.menu__btn.btn.btn--green.js-modal-open(href="#!" data-modal="modal-1") Create Account
button.menu__toggle(type="button")
    span.menu__toggle-line
