.parallax-inner
    .parallax-box
        .bgg
        .h1 Simple parallax sections
    .parallax-box
        .bgg
        h1 Hey look, a title
    .parallax-box
        .bgg
        h1 They just keep coming
    .parallax-box
        .bgg
        h1 So smooth though
    .parallax-box
        .bgg
        h1 Nice, right?

    .parallax2
        <section>
            <img src="https://cdn.discordapp.com/attachments/897304698468565022/898044182097195069/stars.png" id="stars">
            <img src="https://cdn.discordapp.com/attachments/897304698468565022/898044175746994196/moon.png" id="moon">
            <img src="https://cdn.discordapp.com/attachments/897304698468565022/898044178368458792/mountains_behind.png" id="mountains_behind">
            <h2 id="text">Moon Light </h2>
            <a href="#sec" id="btn">Explore</a>
            <img src="https://cdn.discordapp.com/attachments/897304698468565022/898044181182824508/mountains_front.png" id="mountains_front">
        </section>

        <div class="sec" id="sec">
            <h2>Parallax Scrolling Effects</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus modi, nobis, aspernatur odio unde ipsa quidem quia corporis obcaecati in, dolorum nam! Ut ducimus quia dolore eaque obcaecati error vel autem vero veniam corporis aperiam, architecto velit inventore minus! Libero nemo quisquam nobis quis adipisci mollitia facilis omnis a cupiditate, est dolor hic. Repudiandae exercitationem rem, dignissimos doloribus quaerat architecto hic libero quasi et voluptatum harum amet voluptate facilis ratione voluptates accusamus molestiae blanditiis sunt fugiat quae esse laborum reiciendis? Quo fugiat omnis soluta. Veritatis dicta fugiat amet necessitatibus, natus id molestias quia veniam autem dignissimos, ipsum possimus reiciendis! Mollitia!
            </p>
        </div>

