*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1 { font-size: $font-size-h1; } // stylelint-disable-line
h2 { font-size: $font-size-h2; } // stylelint-disable-line
h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line

button {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-family: inherit;
}

.page {
    height: 100%;
    min-width: 320px;
    margin: 0;
    line-height: 1;
    font-size: 16px;
    font-family: $font-family;
    word-break: break-word;
    box-sizing: border-box;

    &__body {
        // min-height: 100%;
        // display: grid;
        // grid-template-rows: min-content 1fr min-content;
        margin: 0 auto;
    }
}

.box {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;

    @include media-up--S {
        padding: 0 30px;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    @include media-up--S {
        font-size: 16px;
        line-height: 35px;
    }
}

.title {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;

    @include media-up--S {
        font-size: 42px;
        line-height: 45px;
    }
}

.no-scroll {
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.highlight-text {
    color: #38c6dd;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h1 {
    margin: 30px 0 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    @include media-up--S {
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 28px;
    }
}

.h2 {
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include media-up--S {
        font-size: 18px;
        line-height: 27px;
    }
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-muted {
    font-weight: 400;
    color: rgba($text-primary-color, 0.5);
}

.color-red {
    color: $red;
}

.color-green {
    color: $green;
}

.color-yellow {
    color: $yellow;
}

.show-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    cursor: pointer;
    fill: #9599a9;
}

// Custom scrollbar
.custom-scroll {
    overflow: auto;
}

.custom-scroll,
.dashboard,
.bv_ul_inner,
.tooltip__text {
    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: rgba($custom-scroll-bg, 1);
    }

    &::-webkit-scrollbar-track {
        background-color: rgba($custom-scroll-bg, 1);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($custom-scroll, 1);
        border-radius: 999px;
    }
}

.theme {
    transition: color 0.3s, background 0.3s;
    background-color: rgba($bg-primary-color, 1);
    color: rgba($text-primary-color, 1);
}

.theme > * {
    transition: color 0.3s, background 0.3s;
}

.dashboard {
    background-color: rgba($bg-primary-color, 1);
    color: rgba($text-primary-color, 1);

    .page-main {
        padding: 50px 10px 20px;

        @include media-up--S {
            padding: 60px 20px 20px;
        }
    }
}


.bg {
    background-image: url(../img/main-bg.png);
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.d-none {
    display: none;
}
